@font-face {
    font-family: 'DFYuan-W5-WIN-BF';
    font-style: normal;
    src: url(https://github.com/UIDD2021ElderlyApp/backend_ex/raw/main/public/stylesheets/DFYuan-W5-WIN-BF.woff) format('woff');
}