.square {
    content: "";
    display: block;
    width: 5Vh;
    height: 5Vh;
    background-color: #ddb98b;
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
}

.square_table_cont {
    width: 74vw;

}